body{
    background: rgb(34, 33, 33);
    margin-left: 20px;
    outline: white;
    font-family:sans-serif;

}

#abthead
{   
    font-size: 3.5vw;
    padding-top: 2cm;
    color: rgb(202, 24, 143);
    text-shadow: 1px 1px 2px yellow;
    text-align: center;}

.des
{   padding: 2em;
    text-align: justify;
    color: rgb(8, 255, 202);
    font-size: 2vw;
    
}
#toolsimg
{   
    height: 15em;
    width: 20em;
    font-size: 2vw;
    /* padding: 2em; */
    box-shadow: 1px 2px 10px 5px  rgba(124, 114, 114, 0.37); 
}
.box
{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vw;
}

/* h1
{
    text-shadow: 1px 1px 2px rgb(93, 2, 240);
    font-size: 2vw;
} */

div.qual{
   background-image: url('https://image.freepik.com/free-vector/guarantee-best-quality-stamp_1017-7145.jpg');
   box-shadow: 1px 2px 10px 5px  white; 
   width: 30%;
   height: 300px;
   position: relative;
   margin-top: 30px;
   margin-bottom: 10px;
   left: 30%;
   background-size: 100% 100%;
}
a{
    font-size:2vw;

}