body{
    font-family:sans-serif;
    background: rgb(34, 33, 33);
    margin-left: 20px;
    outline: white;
    font-family:sans-serif;
}

a{  
    font-size: 2vw;
    text-transform: capitalize;
    color: rgb(236, 240, 11) ;
    text-decoration: none;
    
}

li{
    padding-right:30px ;
    list-style: none;
    display: inline-block;
}

.abt{
    /* 
    background-color: black;
    */
    margin-top: none;
    text-align: right; 
    overflow: hidden;
    background-color: rgb(49, 45, 45);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    block-size: 4em;
    
    }

a:hover{
    font-size: 3.0vw;
    color: white;
}
h1{
    text-align: center;
    font-size: 3.5vw;
    padding-top: 2cm;
    color: rgb(202, 24, 143);
    text-shadow: 1px 1px 2px yellow;
}

table{
    color: rgb(236, 240, 11) ;
    font-size: 3vw;
    width: 100%;
    margin: auto;
    border: 1px solid white ;
    align-content: center;
    border-spacing: 15px;
}


th,td{
    text-align: center;
}

#click{
    text-decoration: none;
    color: rgb(236, 240, 11) ;
}

#click:hover{
    font-size:3.2vw ;
    color: white;
}

#click{
    text-transform: none;
}
/*add for phone number and email */
.ctus{
  line-height: 100px;
  font-size: 50px;
  color: rgb(236, 240, 11);
  text-shadow: 2px 2px red;

}